<div class="container">
  {{ form_start(form, {'attr': {'class': 'form-class'}}) }}
  {{ form_widget(form) }}
  <div class="d-flex justify-content-around align-items-center">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    <a href="{{ path('article_dashboard_index') }}" class="btn btn-warning">back to list</a>
    {{ include('article_dashboard/_delete_form.html.twig') }}
  </div>
  {{ form_end(form) }}

</div>
