{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Image</th>
                <th>Url</th>
                <th>Slug</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.url }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.category }}</td>
                <td>
                    <a href="{{ path('article_dashboard_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_dashboard_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_dashboard_new') }}">Create new</a>
{% endblock %}
